
:host paper-button {
    background-color: var(--google-grey-300);
    padding: 5px;
}
:host paper-button:hover {
    background-color: var(--paper-light-blue-200);
    padding: 5px;
}

#btn {
    color: ghostwhite;
    margin: 25px;
    width: 56px;
    height: 56px;
    background: #db4437;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
