
:host label {
    font: inherit;
    color: var(--paper-input-container-color, --secondary-text-color);

    @apply(--paper-font-common-nowrap);
    @apply(--paper-font-subhead);
    @apply(--paper-input-container-label);
}
:host paper-date-picker {
    display: block;
}
@media (max-width: 600px) {
    :host paper-dialog {
        margin: 0;
    }
}
